.application-process {
  .card {
    border-radius: 10px;
    margin-top: 20px;
    height: 70vh;
    max-height: 100%;
    @media screen and (max-width: 768px) {
      height: 200px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: inherit;
    }
  }
}
