<section class="section-margin">
  <div class="faqs-wrapper">
    <!-- <div class="faqs-image">
      <img src="assets/images/faqs.png" alt="Faqs - Mindenious">
    </div> -->
    <div class="section-title">
      <h1>Frequently Asked Questions</h1>
      <p>Check out our FAQ section for quick answers to common questions. If you don't find what
        you're looking for, feel free to contact us directly.</p>
    </div>
    <div class="accordion-wrapper">
      <app-accordian [accordionData]="faqsData"></app-accordian>
    </div>
  </div>
</section>
