<section class="mentors-wrapper">
  <div class="content-heading">
    <h5>Meet the team</h5>
    <h1 class="heading">Meet our Dedicated Team of Educators and Innovators</h1>
  </div>
  <div class="mentors-profile desktop-mode">
    @for (mentor of mentorDetails; track $index) {
    <div class="card-wrapper">
      <img src="{{mentor.profileImg}}" alt="{{mentor.name + ' Mindenious'}}}" loading="lazy">
      <div class="mentors-info">
        <div class="details">
          <h5>{{mentor.name}}</h5>
          <p>{{mentor.occupation}}</p>
        </div>
        <div class="link">
          <a href="{{mentor.profileLink}}" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    }
  </div>

  <!-- Mobile Mode Slider Starts -->
  <div class="mentors-profile mobile-mode">
    <ng-template #mentorsCardRef>
      <div class="card-wrapper item">
        <img src="{{mentorDetails[currentMentorIndex].profileImg}}"
          alt="{{mentorDetails[currentMentorIndex].name + ' Mindenious'}}}" loading="lazy">
        <div class="mentors-info">
          <div class="details">
            <h5>{{mentorDetails[currentMentorIndex].name}}</h5>
            <p>{{mentorDetails[currentMentorIndex].occupation}}</p>
          </div>
          <div class="link">
            <a href="{{mentorDetails[currentMentorIndex].profileLink}}" target="_blank"><i
                class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- <div class="slider-wrapper"> -->
      <app-slider [data]="mentorDetails" [cardTemplateRef]="mentorsCardRef"
        (currentIndexChange)="currentMentorIndex = $event"></app-slider>
    <!-- </div> -->
    <!-- Mobile Mode Slider Ends -->
  </div>
</section>
