.company-collaboration-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    gap: 20px;
  }

  .logo-wrapper {
    height: 125px;
    width: 125px;
    margin-top: 20px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.has-border-radius-50 {
  border-radius: 50%;
}
