<section class="promotion-wrapper">
  <div class="banner__outcome">
    <div class="banner__outcome-content">
      <p class="banner-outcome__overline">
        <img class="banner-outcome__image" [src]="promotionData.learnerImgSrc" alt="profile" data-loaded="true">
        <span>{{promotionData.learnerTitle}}</span>
      </p>
      <h3 class="banner-outcome__title">{{promotionData.bannerTitle}}</h3>
      <p class="banner-outcome__subtitle">{{promotionData.bannerSubtitle}}</p>
    </div>
    <a class="banner-outcome_cta" title="">
      <span>{{promotionData.bannerCta}}</span>
      <img class="banner-outcome__logo"
        src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/play-circle-filled.svg"

        data-loaded="true">
    </a>
  </div>
</section>
