<section class="card-wrapper">
  <app-component-title [sectionHeadData]="sectionHeadData"></app-component-title>
  @for (card of cardData; track $index) {
    <div class="card-body" [style.flexDirection]="card.imageOrder">
      <div class="card-image" >
          <img class="card-image" data-src="{{card.imageSrc}}" [src]="card.imageSrc" alt="card image" data-loaded="true">
      </div>
      <div class="card-content">
          <p class="card-overline">{{card.cardOverLine}}</p>
          <p class="card-title">{{card.title}}</p>
          <p class="card-subtitle">{{card.subTitle}}</p>
      </div>
    </div>
  }
</section>
