<section class="combo-pack-container section-margin">
  <div class="section-title">
    <h1>Mindenious Combo Packs</h1>
  </div>
  <div class="combo-pack-wrapper">
    @for (pack of comboPackOffer; track $index) {
    <div class="wrapper has-box-shadow" (click)="navigateToComboPackDetails(pack)">
      <div class="header">
        <div class="img-wrapper">
          <img [src]="pack.imgSrc" alt="">
        </div>
        <h2>{{pack.title}}</h2>
      </div>

      <div class="features-wrapper">
        <h5>Includes Below Features</h5>
        <ul class="feature-lists">
          @for (feature of pack.features; track $index) {
            <li><span><i class="fa fa-plus" style="margin-right: 5px;"></i></span><span>{{feature}}</span></li>
            }
        </ul>
      </div>
      <div class="price-wrapper">
        <div class="price">
          <span class="list-price">{{pack.listPrice}}</span>
          <span class="offer-price">{{pack.offerPrice}}</span>
        </div>
        <button class="button" (click)="navigateToComboPackDetails(pack)">Know More</button>
      </div>
    </div>
    }
  </div>
</section>
