.combo-pack-container {
  .combo-pack-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    .wrapper {
      width: 500px;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: box-shadow 0.2s ease;

      &:hover {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      }

      .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;

        .img-wrapper {
          height: 80px;
          width: 110px;
          border-radius: 10px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: inherit;
          }
        }

        h2 {
          font-size: 24px;
          font-weight: 700;
        }
      }

      .features-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h5 {
          font-size: 16px;
          font-weight: 700;
        }

        .feature-lists {
          display: flex;
          flex-direction: column;
          gap: 5px;

          li {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }

      .price-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .price {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          .list-price {
            font-size: 28px;
            font-weight: 300;
            text-decoration: line-through;
            color: var(--text-red);
          }

          .offer-price {
            font-size: 36px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .combo-pack-container {
    .combo-pack-wrapper {
      flex-direction: column;
      align-items: center;

      .wrapper {
        width: 100%;
      }
    }
  }
}
