<main class="main-wrapper">

  <!-- Home Landing Page -->
  <app-home-landing-page></app-home-landing-page>

  <!-- Companies collaboration with us -->
   <app-companies-collaboration></app-companies-collaboration>

  <!-- Home Banner -->
  <app-banner></app-banner>

  <!-- Combo Pack -->
  <app-combo-pack></app-combo-pack>

  <!-- Top Featured Courses -->
  <app-top-featured-courses></app-top-featured-courses>

  <!-- Explore Courses -->
   <section class="trending-course-list" id="tredingCourseLists">
     <app-trending-course-lists></app-trending-course-lists>
   </section>

   <!-- Why choose us? -->
   <app-why-choose-us></app-why-choose-us>

   <!-- Application Process -->
   <app-application-process></app-application-process>

   <!-- Tools you will learn -->
   <app-image-auto-slider [imgUrls]="toolsData" [title]="'Tools you will learn'"></app-image-auto-slider>

  <!-- Mentors Section -->
  <app-mentors-card></app-mentors-card>

  <!-- Universities Section -->
  <!-- <app-comapny-collaborate [universities]="companyData" [imgHeight]="'50'" [imgWidth]="'160'"></app-comapny-collaborate> -->

  <!-- our alumni works at -->
  <app-image-auto-slider></app-image-auto-slider>

  <!-- Statistics Section -->
  <app-statistics></app-statistics>

  <!-- Reviews -->
   <app-career-reviews></app-career-reviews>

  <!-- Testimonial Section -->
  <!-- <app-testimonial-full-width-card></app-testimonial-full-width-card> -->

  <!-- promotion Section -->
  <!-- <app-promotion-card></app-promotion-card> -->

  <!-- Testimonial Card Section -->
  <!-- <app-testimonial-small-card></app-testimonial-small-card> -->

  <!-- CTA Section -->
  <!-- <app-promotion-card [promotionData]="promotionData"></app-promotion-card> -->
</main>
