.course-module {
  padding: 40px 10%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (max-width: 768px) {
    padding: 10px 5px;

  }

  .course-accordian {
    .module-accordian {
      &,
      .list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: square !important;
        padding-left: 15px;
        box-sizing: border-box;

        li {
          font-size: var(--font-size-sm);
        }

        .accordion-link-btn {
          width: max-content;
          padding: 5px 15px;
          font-size: var(--font-size-sm);
          margin-top: 10px;
        }
      }

      .module-wrapper {
        padding: 8px 0x;
        box-shadow: 0 0 1px 1px #ccc;
        border-radius: 5px;
        margin: 0px !important;
      }

      .title {
        font-weight: 700;
        letter-spacing: 1px;
        font-size: var(--font-size-base);
        text-transform: capitalize;

        @media screen and (max-width: 768px) {
          font-size: var(--font-size-sm);
        }
      }

      .sub-title {
        font-size: var(--font-size-sm);
        letter-spacing: 1px;
      }
    }
  }
}
