<section class="contact-section section-landing-margin">
  <div class="banner has-box-shadow">
    <div class="img-wrapper">
      <img src="assets/images/contactForm.png" alt="Contact us - Mindenious" loading="lazy">
    </div>
    <div class="form-wrapper">
      <div class="section-title">
        <h1>Join us. From anywhere</h1>
        <p>We’re on a mission to Make Automation Work for Everyone.</p>
        <h4>Get-in-touch</h4>
      </div>
      <div class="form-section">
        <app-details-form (isFormSubmitted)="getFormSubmissionStatus($event)"></app-details-form>
      </div>
    </div>
  </div>

  @if (isFormSubmitted) {
    <app-modal-popup [modalDuration]="3000" [modalType]="'success'" [modalBody]="'Thank you for subscribing to our newsletter.'"></app-modal-popup>
  }
</section>
