
<div class="our-service" [style.backgroundColor]="bgColor" [style.borderRadius]="mainBorderRadius">
  <div class="service-title">
    <h3>{{title}}</h3>
  </div>
  <div class="service-card-wrapper">
    @for (service of ourServices; track $index) {
      <div class="service-card" [style.width]="width">
        <div class="title">
          <h3>{{service.title}}</h3>
        </div>
        @if (service.show) {
          <div class="description" [class.active]="service.show">
            <p>{{service.description}}</p>
          </div>
        }
        <div class="icon-wrapper">
          <div class="icon" [class.active]="!service.show" [style.borderRadius]="service.borderRadius" [style.visibility]="service.show ? 'hidden' : 'visible'"></div>
          <div class="show-btn" (click)="showMore(service)"><span>+</span></div>
        </div>
      </div>
    }
  </div>
</div>
