<section class="page-not-found-wrapper section-landing-margin">
  <div class="content-wrapper">
    <h2>Page Not Found</h2>
    <p>Uh-oh! It seems like you've taken a detour into the unknown corners of the internet, and you've landed on our 404
      page. Don't worry, you're not lost. you're just exploring beyond the map. Let's get you back on track</p>
    <div class="go-back-to-home">
      <button (click)="goToHome()" class="button goto-home">
        <span class="arrow"><i class="fa fa-arrow-left arrow-icon"></i></span>Go Back To Home</button>
    </div>
  </div>
</section>
