
 @if (signalService.isCompanyCollabOpen()) {}
<section class="compan-collab-container">
  <div class="company-container">
    <div class="close-icon">
      <span class="close" (click)="closeModal()" title="Close" style="cursor: pointer;"><i class="fa fa-times"></i></span>
    </div>
    <h1 style="font-weight: 700;font-size: 32px;text-align: center;">Presenting Our Esteemed</h1>
    <div class="main-logo">
      <img src="assets/images/companyCollab/wipro1.png" alt="">
    </div>
    <h1 style="font-weight: 700;">Our other partners</h1>
    <div class="logos-wrapper">
      @for (logo of collabLogo; track $index) {
        <div class="logo">
          <img [src]="logo.logo" [alt]="logo.title">
        </div>
      }
    </div>
  </div>
</section>
